<!DOCTYPE html>
<html>
<title>About</title>
<body bgcolor="khaki">
<form>
<center><h2 style="color:white; font-size:50px; background-color:olive">LAUNDRIKA</h2></center>
<h2 style="color:red; font-style:italic; font-size:15px background-color:olive"><center>wash away your worries...</center></h2>

<center>
<div>
  <h2><b>OUR PASSION AND COMMITMENT</b></h2>
  <p>
  We are professionals and committed to provide high quality laundry equipments for every individual.<br>We are always on the lookout for the latest technologies that would help people to make their life more easier and convenient.</p>
</div>
<div>
<br>
<br>
<br>
<b><a href="equipments"target="_top">Next</a><b>
</center>
</form>
</body>
</html>